@import '../../../assets/styles/const.scss';

.header {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // background: linear-gradient(to top right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
  border-radius: .5rem;
  backdrop-filter: blur(2rem);
  padding: 2vw;
  letter-spacing: 2px;
  color: $lavender-bush;
  margin-top: 2rem;
  margin-bottom: 2rem;

  h5 {
    font-size: 5vw;
    font-family: Yanone-Light;
    margin-bottom: .5rem;
  }

  h1 {
    font-size: 8vw;
  }
}